/* .button {
    background-image: none;
    color: #000000;
    background-color: #00eb03;
    box-shadow: 0 4px #05d200;
    font-size: larger;
    font-weight: bold;
}
.button:active {
    background-color: #ffcc39;
    box-shadow: none;
}
.window {
    background-color: #292929;
}
.entry {
    background-image: none;
    background-color: #dbd800;
    font-size: larger;
    box-shadow: 0 4px #05d200;
    border: 2px solid #08ff00;
}
.label {
    background-image: none;
    color: #0bcf00;
    font-weight: bold;
    font-family: "Comic Sans MS";
}
.text_window {
    background-image: none;
    background-color: #3c3f41;
    font-weight: bold;
    border-radius: 10px;
} */

.list_button {
    background-image: none;
    color: #00d70b;
    background-color: #4f0067;
    margin: 5px;
    font-weight: bold;
    font-family: "Comic Sans MS";
    font-size: 10px;
    border-radius: 10px;
}
.list_button:active {
    background-color: moccasin;
    box-shadow: none;
}


.buttons_window {
    background-image: none;
    background-color: #3c3f41;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 15px;
    border: 2px solid #08ff00;
}


.window {
    background-color: #292929;
}

.label {
    background-image: none;
    color: rgb(254, 212, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.entry {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid lightgrey;
}

.entry:focus {
    opacity: 0.5;
}

.button {
    background-image: none;
    color: black;
    background-color: rgb(254, 212, 3);
    border: 1px solid rgb(254, 212, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    opacity: 0.7;
}

.button:hover {
    opacity: 1;
}

.chat-window {
    background-color: rgb(177, 180, 191);
}

.theme-button {
    color: rgb(229, 121, 121);
    border: 1px solid rgb(177, 180, 191);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.theme-button:hover {
    opacity: 0.7;
}

.theme-button:active {
    opacity: 1;
}

.language-button {
    color: rgb(111, 177, 228);
    border: 1px solid rgb(177, 180, 191);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.language-button:hover {
    opacity: 0.7;
}

.language-button:active {
    opacity: 1;
}

.reference {
    font-family: Arial, Helvetica, sans-serif;
}

.send-field {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid rgb(177, 180, 191);
}

.send-button {
    color: rgb(73, 157, 220);
    border: 1px solid rgb(177, 180, 191);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.send-button:hover {
    opacity: 0.7;
}

.send-button:active {
    opacity: 1;
}

.chat-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;;
}

.entry-button {
    color: rgb(73, 157, 220);
    border: 1px solid rgb(177, 180, 191);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.entry-button:hover {
    opacity: 0.7;
}

.entry-button:active {
    opacity: 1;
}

.list_button {
    background-image: none;
    background-color: white;
    color: rgb(76, 84, 102);
    margin: 3px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid rgb(60, 63, 65);
}

.list_button:hover {
    background-color: rgb(60, 63, 65);
    color: white;
}

.list_button:active {
    opacity: 0.7;
    color: white;
}

.chat-window.dark_theme {
    background-color: rgb(33, 35, 46);
}

.dark_theme .theme-button {
    background-image: none;
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
    border: 1px solid rgb(33, 35, 46);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.dark_theme .theme-button:hover {
    background-color: rgb(76, 84, 102);
    color: white;
}

.dark_theme .theme-button:active {
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
}

.dark_theme .language-button {
    background-image: none;
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
    border: 1px solid rgb(33, 35, 46);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.dark_theme .language-button:hover {
    background-color: rgb(76, 84, 102);
    color: white;
}

.dark_theme .language-button:active {
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
}

.dark_theme .reference {
    color: white;
}

.dark_theme .send-field {
    background-image: none;
    background-color: rgb(56, 60, 74);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid rgb(33, 35, 46);
    box-shadow: none;
}

.dark_theme .send-button {
    background-image: none;
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
    border: 1px solid rgb(33, 35, 46);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.dark_theme .send-button:hover {
    background-color: rgb(76, 84, 102);
    color: white;
}

.dark_theme .send-button:active {
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
}

.dark_theme .chat-label {
    color: white;
}

.dark_theme .entry-button {
    background-image: none;
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
    border: 1px solid rgb(33, 35, 46);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.dark_theme .entry-button:hover {
    background-color: rgb(76, 84, 102);
    color: white;
}

.dark_theme .entry-button:active {
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
}

.dark_theme .entry-field {
    background-image: none;
    background-color: rgb(56, 60, 74);
    color: white;
    border: 1px solid rgb(33, 35, 46);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.dark_theme .list_button {
    background-image: none;
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
    border: 1px solid rgb(33, 35, 46);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 5px;
}

.dark_theme .list_button:hover {
    background-color: rgb(76, 84, 102);
    color: white;
}

.dark_theme .list_button:active {
    background-color: rgb(56, 60, 74);
    color: rgb(114, 122, 123);
}
